@import '../Vars.scss';

.container {
    background-color: $colorAzulOsc;
    .container__links {
        margin: 7%;
        gap: 7px;
        display: grid;
        grid-template-columns: repeat(8, 5fr);
        grid-template-rows: repeat(2, 1fr); /*  */
        grid-column: 1;
    }
}
