@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Major+Mono+Display&family=Nova+Square&family=Tajawal:wght@500&display=swap');
    
$fontSerif: 'Antic Slab', serif;
$fontMonospace: 'Major Mono Display', monospace;
$fontCursive: 'Nova Square', cursive;
$fontSansSerif: 'Tajawal', sans-serif;

$colorNegro: #1b262c;
$colorAzulOsc: #0f4c75;
$colorAzulClar: #00b7c2;
$colorPiel: #fdcb9e;

$letrasFondoOsc: #fff;

